.root {
	-fx-base: #424246;
	-fx-background: #212124;
	-fx-control-inner-background: #303033;
	-fx-button: #606060;
	-fx-button-hover: #555555;
	-fx-button-pressed: #505050;
}


/*============ TAB PANE ======================== */

/*------------ Tab ----------------------------- */
.tab{
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent transparent transparent;
	-fx-background-insets : 0
}

.tab:selected {
	-fx-background-color: -fx-base;
	-fx-background-radius: 5 5 0 0;
}

.tab:selected .focus-indicator {
	-fx-border-color: transparent;
    -fx-border-radius: 5 5 0 0, 10 10 0 0;
    
    -fx-border-insets: 0;
}

/*----------- header --------------*/

.tab-header-area {
	-fx-padding : 0, 0, 0, 0
}

.tab-header-background {
	-fx-background-color: transparent;
}

.tab-content-area {
	-fx-background-color: -fx-base;
}

.tab-pane {
	-fx-padding : 5, 0, 5, 0;
	-fx-effect: dropshadow( gaussian , #151520 , 7, 0.5, 0, 0);
}
 
.tool-bar:horizontal {
	-fx-background-color:
	linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}

/* =================== Button ========================*/

.button {
	-fx-background-color: -fx-button;
	-fx-background-insets: 2 2 2 2;
	-fx-background-radius: 1 1 1 1;
}

.button:hover {
	-fx-background-color: -fx-button-hover;
}

.button:pressed {
	-fx-background-color: -fx-button-pressed;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.content {
	-fx-background-color: -fx-control-inner-background;
}

.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane-divider {
	-fx-background-color: -fx-background;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base; 
	-fx-background-color: black, black;
	-fx-background-insets: 0, 0 1 0 1;
}
 
.my-gridpane {
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}
 
.separator-label {
	-fx-text-fill: orange;
}