.root {
	-fx-base: rgb(80, 80, 85);
	-fx-background: rgb(50, 50, 55);
	-fx-control-inner-background:  rgb(80, 80, 85);
}
 
.tab{
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent transparent transparent;
	-fx-background-insets : 0
}


.tab:selected {
	-fx-background-color: -fx-base;
	-fx-background-radius: 2 2 0 0;
}

.tab:selected .focus-indicator {
    -fx-border-radius: 11 11 0 0, 10 10 0 0;
}

.tab-header-area {
	-fx-padding : 0, 0, 0, 0
}

.tab-header-background {
	-fx-background-color: transparent;
}

.tab-content-area {
	-fx-background-color: -fx-base;
}

.tab-pane {
	-fx-padding : 3, 0, 3, 0
}

.menu-bar {
	-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
}
 
.tool-bar:horizontal {
	-fx-background-color:
	linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}
 
.button {
	-fx-background-color: -fx-base;
	-fx-background-insets: 0, 5 0 5 0;
}

.button:hover {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-color: -fx-hover-base;
}

.scroll-pane {
	-fx-background-color: transparent;
}

 
/*.button:hover {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-color: -fx-hover-base;
}*/
 
.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}


.split-pane-divider {
	-fx-background-color: -fx-background;
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base; 
	-fx-background-color: black, black;
	-fx-background-insets: 0, 0 1 0 1;
}
 
.my-gridpane {
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}
 
.separator-label {
	-fx-text-fill: orange;
}